// About Page Style
.about-area{
	.about-content{
			& h2 {
		    font-weight: 600;
		    margin: 0 0 15px;
		    font-size: 40px;
		     @media #{$extra-small-mobile}{
		    	font-size: 24px;
		     }
		}
		p {
	    	line-height: 24px;
		    color: #1d1d1d;
		}
	}
	.single-about {
			h4 {
		    font-size: 30px;
		    font-weight: 600;
		    color: #1d1d1d;
		    margin: 0 0 15px;
		     @media #{$extra-small-mobile}{
		    	font-size: 24px;
		     }
		}
		p{
	    	line-height: 24px;
		    color: #1d1d1d;
		}
	}
}